#pageTitle{
    font-family: 'Montez', cursive;
    font-size: 50px;
    color: #112fb4;
    margin: auto;
    text-decoration: none;
    margin: 10px 10px 0px 10px;    
    }
    
    .sub-heading {
      font-family: 'Ubuntu Mono', monospace;
      margin-left: 10px;
    }
    
  .signinupbutton{
    width: 120px;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 500;
    font-size: 90%;
    background: #0000ff;
    color: #fff;
    float: right;                  
    
    margin: 10px 10px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
   }
  
  