.mainHeading{
    font-family: 'Montez', cursive;
    font-size: 40px;
    color: blue;
}
.subHeading{
    font: 'Ubuntu Mono';
    color: black;
}
.me-md-2{
    background-color: blue;
}

.signIn-btn{
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    outline: none;
}

.label-text {
    font-weight: bold;
    margin: 10px 0;
}

a {
    font-size: 14px;
    color: #186CA3;
    text-decoration: none;
}

.signin-btn {
    background-color: Green;
    padding: 10px;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.btn1{
    position: fixed;
    left: 45%;
    top:50%;
    background-color: rgb(216, 190, 58);
    border: 0px;
}
.btn2{
    position: fixed;
    left: 51%;
    top:50%;
    background-color: rgb(216, 190, 58);
    border: 0px;
}
.createPost{
    margin: 0 auto;
    display: block;
    background-color: Green;
    padding: 10px;
    border: none;
    color: #fff;
}